.desktop {
  min-height: 100vh;
  text-align: center;
  padding-top: 200px;
  img {
    margin-bottom: 100px;
  }
  //color: #ffffff;
  //background-color: #1f1f1f;
  h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 60px;
  }
}
